//ОСНОВНОЙ LAYOUT
html, body, #react_main
  height: 100%
  margin: 0
  padding: 0

.main-view
  width: 100%
  height: 100%
  display: table
  /* Fix for Firefox and IE to keep correct max-width behaviour on images: */
  table-layout: fixed

.main-view__row
  display: table-row
  height: 1px

.main-view__row--expanded
  height: 100%

